@page "/usuariolist"
@using ControWell.Shared
@using System.Net.Http.Json
@inject HttpClient Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Listado de usuarios</h3>

<table class="table table-dark table-striped-columns">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cargo</th>
      <th scope="col">Nivel de acceso</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var Usuario in Usuarios)
        {
            <tr>
                <th scope="row">@Usuario.Id</th>
                <td>@Usuario.Cedula</td>
                <td>@Usuario.Nombre</td>
                <td>@Usuario.Apellido</td>
                <td>@Usuario.Cargo</td>
                <td>@Usuario.TipoAcceso</td>
                <td>
                    <button class="btn btn-close-white" @onclick="(()=>MostrarUsuario(Usuario.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
            
        }
        
  </tbody>
</table>
<button class="btn btn-success" >Nuevo Usuario</button>
@code {
    public static List<Usuario> Usuarios = new List<Usuario>();
    protected override async Task OnInitializedAsync()
    {
        var resultado = await Http.GetFromJsonAsync<List<Usuario>>("api/Usuario");
        if (resultado != null)
            Usuarios = resultado;
    }

    void MostrarUsuario(int id)
    {
        NavigationManager.NavigateTo($"usuariodetalle/{id}");
    }
}
