@page "/exceladd"
@using ControWell.Client.Services.PozoService;
@inject IPozoService PozoService
@inject HttpClient Http
@inject NavigationManager NanigationManager



@using ControWell.Shared
@using System.Data
@using System.IO
@using NPOI.XSSF.UserModel
@using NPOI.SS.UserModel
@inject IPozoService PozoService
@inject NavigationManager NanigationManager
<h3>CrearPozo</h3>

<EditForm Model="pozo" >
       <InputFile OnChange="@ImportExcelFile"/>


<p>This component demonstrates fetching data from the server.</p>


    <table class="table">
        <thead> 
            <tr>
                @foreach (DataColumn col in dt.Columns)
                {
                    <th>@col.ColumnName</th>
                }                           
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in dt.Rows)
            {             
                
                <tr>
                    @foreach (DataColumn col in dt.Columns)
                    {
                        
                        
                        var nom = row[col.ColumnName];
                        nom = nom.ToString();

                        if (col.ToString() == "Nombre")
                        {
                            pozo.NombrePozo = nom.ToString();
                            <td>@row[col.ColumnName]</td>
                        }
                        if (col.ToString() == "Ubicacion")
                        {
                            pozo.Ubicacion = nom.ToString();
                            <td>@row[col.ColumnName]</td>
                        }
                        if (col.ToString() == "Operadora")
                        {
                            pozo.Operadora = nom.ToString();
                            <td>@row[col.ColumnName]</td>
                        }
                        if (col.ToString() == "Comentario")
                        {
                            pozo.Comentario = nom.ToString();
                            <td>@row[col.ColumnName]</td>
                        }




                    }
                    @PozoService.CreatePozo(pozo);
                    
                </tr>
            }
        </tbody>
    </table>

    <button  class="btn btn-primary">Confirmar</button>
   
</EditForm>


@code {
    DataTable dt = new DataTable();

    async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
        var fileStream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await fileStream.CopyToAsync(ms);
        fileStream.Close();
        ms.Position = 0;

        ISheet sheet;
        var xsswb = new XSSFWorkbook(ms);

        sheet = xsswb.GetSheetAt(0);
        IRow hr = sheet.GetRow(0);
        var rl = new List<string>();

        int cc = hr.LastCellNum;
        for (var j = 0; j < cc; j++)
        {
            ICell cell = hr.GetCell(j);
            dt.Columns.Add(cell.ToString());
        }

        for (var j = (sheet.FirstRowNum + 1); j <= sheet.LastRowNum; j++)
        {
            var r = sheet.GetRow(j);
            for (var i = r.FirstCellNum; i < cc; i++)
            {
                rl.Add(r.GetCell(i).ToString());
            }
            if (rl.Count > 0)
            {
                dt.Rows.Add(rl.ToArray());
            }
            rl.Clear();
        }
    }



    [Parameter]

    public int? Id { get; set; }

    Pozo pozo = new Pozo();


    async Task EviarPozo()
    {
        await PozoService.CreatePozo(pozo);

    }

    void VolverAnterior()
    {
        NanigationManager.NavigateTo("/pozolist");
    }
}

