@page "/sellolist"

@using System;
@using System.Text.RegularExpressions;

@using ControWell.Client.Services.SelloService;
@using ControWell.Shared
@using System.Net.Http.Json
@using MatBlazor
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ISelloService SelloService
@inject SweetAlertService Swal
@inject IMatToaster Toaster

<MatDialog @bind-IsOpen="@dialogIsOpen">
    @if (updateselloState)
    {
        <EditForm Model="sello" OnSubmit="GenerarSellos">
            <MatDialogTitle Style="text-align:center; font-size: xx-large; width:">Actualizar Sello</MatDialogTitle>
            <MatDialogContent Style="width:100%">
                <p style="text-align:center;">Actualizar el numero de Sello</p>
                <MatTextField @bind-Value="@identificadorActualizarRegex"
                          Style="width:20%"
                          Label="N° Identificador"
                          Outlined="true">
                </MatTextField>
                <MatTextField @bind-Value="@numeroselloActualizarRegex"
                          Style="width:45%"
                          Label="N° Sello"
                          Outlined="true">
                </MatTextField>

            </MatDialogContent>
            <MatDialogActions>
                <MatButton Raised="true" Style="margin-right:5px" OnClick="@CloseDialog">Cancelar Operacion</MatButton>
                <MatButton Type="submit" Outlined="true">Actualizar</MatButton>
            </MatDialogActions>
        </EditForm>
    }
    else {
    <EditForm Model="sello" OnSubmit="GenerarSellos">
        <MatDialogTitle Style="text-align:center; font-size: xx-large">Generar Sellos</MatDialogTitle>
            <MatDialogContent  Style="width:100%">
              <p style="text-align:center;">Ingrese indicativo, el serial del sello y la cantidad a generar</p>
                

                <MatTextField @bind-Value="@IdentificadorgSello"
                      Style="width:25%"
                      Label="Identificador"
                      Outlined="true">
                  </MatTextField>              
                  <MatTextField @bind-Value="@dialogSello"
                      Style="width:45%"
                      Label="N° Sello"
                      Outlined="true">
                  </MatTextField>
                  <MatNumericUpDownField @bind-Value="@cantidadSellos"
                               Label="Cantidad"
                               Style="width:20%"
                               DecimalPlaces=0
                               Outlined="true"
                               Minimum=1 Maximum=100000>
                  </MatNumericUpDownField>
 
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Raised="true" Style="margin-right:5px" OnClick="@(e => { dialogIsOpen = false; })">Cancelar Operacion</MatButton>
            <MatButton Type="submit" Outlined="true" OnClick="@GenerarSellos">Generar Sellos</MatButton>
            </MatDialogActions>
      </EditForm>
      }
</MatDialog>

<div class="flex-component" style="width:100%; height:98vh; background: linear-gradient(to right, #607d8b, #90a4ae);">
    <div class="flex-component" style="width:95%;height:99%;">
        <div style="width:33.33%;height:98%; border:solid; border-radius:8px;margin-right:10px">
          <div style="width:100%; height:5%; text-align:center; border-bottom:solid; border-radius:5px">
                <h4 style="width:100%; height:100%; background-color:#a0c55f; color: #2f3640">
                 Sellos Disponibles
             </h4>
          </div>
           <div style="overflow:scroll; width:100%;height:95%;overflow-x: hidden; border-radius:5px; background-color:lavender">
              <br/>
                @foreach (var Sello in Sellos)
              {
                <div style="width:100%;display:flex;justify-content:center;align-items:center;">
                  @if(Sello.Estado==1){
                            <MatAccordion Multi="true" Style="width:100%">
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>Sello 
                                            <div class="flex-component" style="height:20%; margin-top:5px">
                                                <p style="margin-top:8px">@Sello.IndiceSello</p>
                                                <p style="margin-top:8px">-</p>
                                                <p style="margin-top:8px">@Sello.NumeroSello</p>
                                            </div>
                                        </MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <div class="flex-component" >
                                            <Button style="background-color: transparent; border: 0 " @onclick="()=>updatesello(Sello)">
                                               <MatIcon Style="color:blue ;margin-right:20px" Icon="create"></MatIcon>
                                            </Button>       
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>AnularSello(Sello)">
                                                <MatIcon Style="color:red;margin-right:20px" Icon="block"></MatIcon>
                                            </Button>
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>DeleteSello(Sello)">
                                                <MatIcon Style="color:darkorange" Icon="delete_outline" OnClick=""></MatIcon>
                                            </Button>

                                        </div>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            </MatAccordion>
                    }
                </div>
              }
          </div>
        </div>       
        <div style="width:33.33%;height:98%; border:solid; border-radius:8px;margin-right:10px; background-color:lavender">
            <div style="width:100%; height:5%; text-align:center; border-bottom:solid; border-radius:5px">
                <h4 style="width:100%; height:100%; background-color:#42a5f5; color: #2f3640">
                    Sellos en Uso
                </h4>
            </div>
            <div style="overflow:scroll; width:100%;height:93%;overflow-x: hidden">
                <br />
                @foreach (var Sello in Sellos)
                {
                      <div style="width:100%;display:flex;justify-content:center;align-items:center">
                        @if(Sello.Estado==2){
                            <MatAccordion Multi="true" Style="width:100%">
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>
                                            Sello
                                            <div class="flex-component" style="height:20%; margin-top:5px">
                                                <p style="margin-top:8px">@Sello.IndiceSello</p>
                                                <p style="margin-top:8px">-</p>
                                                <p style="margin-top:8px">@Sello.NumeroSello</p>
                                            </div>
                                        </MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <div class="flex-component">
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>HabilitarSello(Sello)">
                                                <MatIcon  Style="color:greenyellow;margin-right:20px" Icon="done_outline" OnClick=""></MatIcon>
                                            </Button>
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>AnularSello(Sello)">
                                                <MatIcon Style="color:red;margin-right:20px" Icon="block" ></MatIcon>
                                            </Button>
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>DeleteSello(Sello)">
                                                <MatIcon Style="color:darkorange" Icon="delete_outline" OnClick=""></MatIcon>
                                            </Button>

                                        </div>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            </MatAccordion>
                         }
                      </div> 
                }
            </div>
        </div>        
        <div style="width:33.33%;height:98%; border:solid; border-radius:8px; background-color:lavender">
            <div style="width:100%; height:5%; text-align:center; border-bottom:solid; border-radius:5px;">
                <h4 style="width:100%; height:100%; background-color:#f8bbd0; color: #2f3640">
                    Sellos Anulados
                </h4>
            </div>
            <div style="overflow:scroll; width:100%;height:93%;overflow-x: hidden">
                <br />
                @foreach (var Sello in Sellos)
                {
                    <div style="width:100%;display:flex;justify-content:center;align-items:center">
                        @if (Sello.Estado == 3)
                       {
                            <MatAccordion Multi="true" Style="width:100%">
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>
                                            Sello
                                            <div class="flex-component" style="height:20%; margin-top:5px">
                                                <p style="margin-top:8px">@Sello.IndiceSello</p>
                                                <p style="margin-top:8px">-</p>
                                                <p style="margin-top:8px">@Sello.NumeroSello</p>
                                            </div>
                                        </MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <div class="flex-component">
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>HabilitarSello(Sello)">
                                                <MatIcon Style="color:greenyellow;margin-right:20px" Icon="done_outline"></MatIcon>
                                            </Button>
                                            <Button style="background-color: transparent; border: 0" @onclick="()=>DeleteSello(Sello)">
                                                <MatIcon Style="color:darkorange" Icon="delete_outline" OnClick=""></MatIcon>
                                            </Button>

                                        </div>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            </MatAccordion>
                       }
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@*Loading database*@
@if (PozosState == false)
{
    <div id="db-spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}

@*AGREGAR GUIAS BUTTON*@

@if (state == true || PozosState == false){
    <MatButton OnClick="@OpenDialog" Raised="true">Generar Sellos</MatButton>
}else
{
    <MatButton OnClick="@OpenDialog" Raised="true">Generar Sellos</MatButton>
}

<style>
/*    HOVER DATA CARD*/  

    .data-hover:hover span {
    background-color: rgba(100, 176, 161, 0.8);
    /*background-color: #369681;*/
    color: #eeeeee;
    cursor: pointer;

    }
 /* FIN HOVER DATA */

 .flex-component {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    body{
    font-family: Arial;
    }

    input {
    border-radius: 5px;
    background-color: #f7fafc;
    width: 90%;
    height: 40px;
    border: 0.5px dashed blue;

    }
    /* estilos de la tabla */

    .table-container-scroll{
    overflow:scroll;
    height:500px;
    width:100%;
    position: relative;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom:10px;
    border-radius: 5px;
    }

    table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    }

    th {
    position: relative;
    }

    th, td{
    padding: 10px;
    margin-left: 40px;
    }

    thead{
    background-color: #388e3c;
    border-bottom: solid 3px #0F362D;
    color: #eeeeee;
    position: sticky;
    top: 0px;

    }

    tr:nth-child(even){
    background-color: #ddd;
    }

    tr:hover td{
    background-color: rgba(100, 176, 161, 0.8);
    /*background-color: #369681;*/
    color: #eeeeee;
    }

    #btn-nuevo-pozo{
    margin-top:10px;
    margin-left:10px;
    }

    /* estilos formulario agregar pozo*/
    .create-pozo-container{
    position: absolute;
    top: 55px;
    left: 250px;
    padding: 12px;
    width: 1110px;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    }

    .add-pozo-card{
    width: 280px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(223, 230, 233,1.0);
    border-radius: 8px;
    color: rgba(0, 0, 0,1.0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.45);

    }

    .add-pozo-card label {
    margin-bottom: 5px;
    margin-top: 6px;
    }
    .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #db-spinner {
    position: absolute;
    top: 55px;
    left: 250px;
    padding: 12px;
    width: 1110px;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

</style>
@code {

    Boolean state = false;
    Boolean update = false;
    int id;
    Boolean PozosState = false;
    Boolean updateselloState = false;

    string identificadorActualizar = "";
    string identificadorActualizarRegex = "";
    string numeroselloActualizar = "";
    string numeroselloActualizarRegex = "";

    //estados para material design
    bool dialogIsOpen = false;
    string FirstSello = "";
    string IdentificadorgSello = "";
    int dialogSello;
    int cantidadSellos = 1;
    int Num;

    public static List<Sello> Sellos = new List<Sello>();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("hola desde la inicializacion de sello");
        var resultado = await Http.GetFromJsonAsync<List<Sello>>("api/sello");
        Console.WriteLine("resultado:", resultado);

        if (resultado != null)
            Sellos = resultado;
        PozosState = true;
        Console.WriteLine("hola desde la finalizacion de sello");
    }

    [Parameter]

    public int? Id { get; set; }

    Sello sello = new Sello();


    async Task EviarSello()
    {
        try
        {
            await SelloService.CreateSello(sello);
            var resultado = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Success",
                    Text = "Guardado correctamente",
                    Icon = SweetAlertIcon.Success,
                });
        }
        catch (InvalidCastException e)
        {
            Console.WriteLine(e);

            state = false;
            NavigationManager.NavigateTo("/");
            NavigationManager.NavigateTo("/sellolist");
        }
        finally
        {
            state = false;
            NavigationManager.NavigateTo("/");
            NavigationManager.NavigateTo("/sellolist");
        }
    }

    async Task DeleteSello(Sello sello)
    {
        var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminar",
                Text = $"¿ Estas seguro que deseas eliminar el sello {sello.IndiceSello}-{sello.NumeroSello} ?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if(!confirmado)
        {
            Show(MatToastType.Link);
            _title = "CANCELADO";
            _message = "Operacion cancelada";
        }else
        {
            var _id = sello.Id;       
            await SelloService.DeleteSello(_id);
            NavigationManager.NavigateTo("/");
            NavigationManager.NavigateTo("/sellolist");
        }

    }

    async Task UpdateSello(Sello sello)
    {
        sello.IndiceSello = identificadorActualizarRegex;
        sello.NumeroSello = numeroselloActualizarRegex;
        sello.Lote = sello.Lote;
        sello.CreatedAt = sello.CreatedAt;
        sello.Estado = sello.Estado;

        await SelloService.UpdateSello(sello);
        var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Success",
                Text = "Actualizado correctamente",
                Icon = SweetAlertIcon.Success,
            });

        NavigationManager.NavigateTo("/");
        NavigationManager.NavigateTo("/sellolist");
    }

    async Task AnularSello(Sello sello)
    {
        sello.IndiceSello = sello.IndiceSello;
        sello.NumeroSello = sello.NumeroSello;
        sello.Lote = sello.Lote;
        sello.CreatedAt = sello.CreatedAt;
        sello.Estado = 3;
        
        await SelloService.UpdateSello(sello);

        Show(MatToastType.Info);
        _title = "Sello generado";
        _message = $"se ha anulado el sello:{sello.IndiceSello}-{sello.NumeroSello}";

        NavigationManager.NavigateTo("/");
        NavigationManager.NavigateTo("/sellolist");
    }

      async Task HabilitarSello(Sello sello)
    {
        sello.IndiceSello = sello.IndiceSello;
        sello.NumeroSello = sello.NumeroSello;
        sello.Lote = sello.Lote;
        sello.CreatedAt = sello.CreatedAt;
        sello.Estado = 1;
        
        await SelloService.UpdateSello(sello);

        Show(MatToastType.Info);
        _title = "Sello Activado";
        _message = $"se ha activado el sello:{sello.IndiceSello}-{sello.NumeroSello}";

        NavigationManager.NavigateTo("/");
        NavigationManager.NavigateTo("/sellolist");
    }

    void updatedatarow(int _id)
    {
        update = true;
        id = _id;
    }

    void Cancelar()
    {
        state = false;
        update = false;
    }

    void updatesello(Sello sello)
    {
        identificadorActualizar = sello.IndiceSello;
        identificadorActualizarRegex = Regex.Replace(identificadorActualizar, @"\s+", "");
        numeroselloActualizar = sello.NumeroSello;
        numeroselloActualizarRegex = Regex.Replace(numeroselloActualizar, @"\s+", "");
        dialogIsOpen = true;
        updateselloState = true;
    }
    void NevegarVariablesLista()
    {
        //NanigationManager.NavigateTo("/crearpozo");
        state = true;
    }
    void MostrarUnSello(int id)
    {
        NavigationManager.NavigateTo($"singlesello/{id}");
    }

    void OpenDialog()
    {
        IdentificadorgSello = "";
        cantidadSellos = 1;
        dialogIsOpen = true;
    }

    void CloseDialog()
    {
        Show(MatToastType.Link);
        _title = "CANCELADO";
        _message = "Operacion cancelada";
        dialogIsOpen = false;

    }

    async Task GenerarSellos()
    {
        dialogIsOpen = false;

        Num = cantidadSellos; 

        DateTime FechaConHora = new DateTime(2005, 4, 23, 9, 30, 45);



        for(int i=0; i<=Num ; i++)
        {
            sello.IndiceSello = IdentificadorgSello;
            sello.NumeroSello = (dialogSello + i).ToString();
            sello.Lote = "lote1";
            sello.Estado = Convert.ToInt16("1");
            sello.CreatedAt = FechaConHora;

            Show(MatToastType.Success);
            _title = "Sello generado";
            _message = $"se ha generado el sello:{dialogSello + i}";
            //var resulta = await Swal.FireAsync(new SweetAlertOptions
            //    {
            //        Title = (dialogSello + i).ToString(),
            //        Text = sello.ToString(),
            //        Icon = SweetAlertIcon.Success
            //    });

                await SelloService.CreateSello(sello);
                //var resulta = await Swal.FireAsync(new SweetAlertOptions
                //    {
                //        Title = "sello repetido",
                //        Text = (dialogSello + i).ToString(),
                //        Icon = SweetAlertIcon.Success
                //    });
            
            await Task.Delay(500);

            if(Num == i)
            {
                //var res = await Swal.FireAsync(new SweetAlertOptions
                //  {
                //        Title = "Sellos generadas con Exito",
                //        Text = "Se generaron {Num} Sellos",
                //        Icon = SweetAlertIcon.Success,
                //  });

                Show(MatToastType.Info);
                _title = "Sellos generados";
                _message = $"se han generado {Num} sellos correctamente";
            }
        }
 

    }


    //TOATER NOTIFICATION

    private string _title = "";
    private string _message = "";
    private bool _showProgressBar = true;
    private bool _showCloseButton = true;
    private bool _actionOnClick = true;
    int MaxDisplayedToasts = 8;

    public string _maxDisplayedToasts
    {
        get { return Toaster.Configuration.MaxDisplayedToasts.ToString(); }
        set { Toaster.Configuration.MaxDisplayedToasts = Convert.ToInt32("8"); }
    }

    private string _toastPosition

    {
        get { return Toaster.Configuration.Position.ToString(); }
        set { Toaster.Configuration.Position = (MatToastPosition)Enum.Parse(typeof(MatToastPosition), "TopRight"); }
    }

    public void Show(MatToastType type, string icon = "")
    {
        Toaster.Add(_message, type, _title, icon, config =>
        {
            config.ShowCloseButton = _showCloseButton;
            config.ShowProgressBar = _showProgressBar;
            config.MaximumOpacity = Convert.ToInt32("100");

            config.ShowTransitionDuration = Convert.ToInt32("500");
            config.VisibleStateDuration = Convert.ToInt32("5000");
            config.HideTransitionDuration = Convert.ToInt32("500");

            config.RequireInteraction = false;

            if (_actionOnClick)
            {
                config.Onclick = toast =>
                {
                    Console.WriteLine($"Title: \"{toast.Title}\"; message: \"{toast.Message}\"; Type: {toast.Options.Type}");
                    return Task.CompletedTask;
                };
            }
        });
    }

}

